.leaderboard1 {
    -fx-background-color: gold;
    -fx-background-radius: 20;
}
.leaderboard2 {
    -fx-background-color: silver;
    -fx-background-radius: 20;
}
.leaderboard3 {
    -fx-background-color: #d28847; /*Bronze*/
    -fx-background-radius: 20;
}
.leaderboardElse {
    -fx-background-color: skyblue;
    -fx-background-radius: 20;
}
.welcomeText.label .text {
    -fx-font-family: "Calibri";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}